<% include partials/header %>
<link rel="stylesheet" href="/css/stretch.css">    
<div class="container">
    <form method="POST" action="/stretch-post">
        <label>Stretch Goal:</label>
        <input type="text" name="stretch"><br>

        <label class="smart">Specific:</label>
        <input type="text" name="specific"><br>

        <label class="smart">Measurable:</label>
        <input type="text" name="measurable"><br>

        <label class="smart">Achievable:</label>
        <input type="text" name="achievable"><br>

        <label class="smart">Realistic:</label>
        <input type="text" name="realistic"><br>

        <label class="smart">Timeline:</label>
        <input type="text" name="timeline"><br>
        
        <button class="btn btn-primary" type="submit">Add Item</button>
    </form>
</div>
<% include partials/footer %>
