h1, h2
{
    text-align:center;
}

h1
{
    font-size: 48px;
}

h2
{
    font-size: 28px;
}

#container
{
    text-align:center;
    width:25%; 
    height: 20%;
    margin: 0 auto;
}

#controls
{
    margin-top: 1%;
    width: 80%;
}
input
{
   width: 17%;
   height: 30px;
   float: left; 
   margin-left: 47%;
}
button
{
    margin-right: 22%;
    float: right;
}
.list-group-item
{
    border: 2px solid #ddd;
}

